.laravel-trace {
	display: block;
	border: 4px solid #F4645F;
}

.laravel-trace.hidden {
	display: inline;
	border: none;
}

.laravel-trace p {
	background: #F4645F;
	color: white;
	margin: 0;
	padding: 4px;
	font-size: 12px;
}

.laravel-trace.hidden p {
	display: none;
}